@font-foce{
  font-family:"ほのか新丸ゴシック";
  src:url(./fonts/honoka-marugo2-1/Honoka-Shin-Maru-Gothic_R.otf);
}

:root {
  --default-title-font-family: "ほのか新丸ゴシック", sans-serif;
}

.base {
  font-family: var(--default-title-font-family);
}
