@font-foce{
  font-family: HonokaRDGothicR;
  src:url("./fonts/honoka-marugo2-1/Honoka-Shin-Maru-Gothic_R.otf") format('opentype');
}

:root {
  --default-title-font-family: HonokaRDGothicR, sans-serif;
}

.base {
  font-family: var(--default-title-font-family);
}
