@font-foce{
  font-family: preview;
  src:url(./fonts/honoka-marugo2-1/Honoka-Shin-Maru-Gothic_R.otf);
}

:root {
  --default-title-font-family: preview, sans-serif;
}

.base {
  font-family: var(--default-title-font-family);
}
